 <div id="layoutSidenav_content">
  <main>
      <div class="container-fluid">
          <h1 class="mt-4">Shows</h1>
          <ol class="breadcrumb mb-4">
              <li class="breadcrumb-item active">Shows</li>
          </ol>
          
          <div class="card mb-4">
              <div class="card-header"><i class="fas fa-table mr-1"></i>Shows</div>
              <div class="card-body">
                  <div class="table-responsive">
                      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                          <tr class="row100 head">
                            <th class="column100 column1" data-column="column1">Sr No.</th>
                            <th class="column100 column2" data-column="column2">Show name</th>
                            <th class="column100 column3" data-column="column3">Timing</th>
                            <th class="column100 column4" data-column="column4">Air days</th>
                            <th class="column100 column5" data-column="column5">Channel</th>
                            <th class="column100 column6" data-column="column5">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% @shows.each_with_index do |show, index| %>
                            <tr class="row100">
                              <td class="column100 column1" data-column="column1"><%= index + 1 %></td>
                              <td class="column100 column2" data-column="column2"><%= show.name %></td>
                              <td class="column100 column3" data-column="column3"><%= show.air_timing %></td>
                              <td class="column100 column4" data-column="column4"><%= show.air_day %></td>
                              <td class="column100 column4" data-column="column4"><%= show.channel.name %></td>
                              <td class="column100 column4" data-column="column4">
                                <% if show.is_favourite(current_user.id) %>
                                  <%= link_to 'Mark as unfavourite', favourites_path(:user_id => current_user.id, :show_id => show.id, :favourite => false) %>
                                <% else %>
                                  <%= link_to 'Mark as favourite', favourites_path(:user_id => current_user.id, :show_id => show.id, :favourite => true) %>
                                  
                                <% end %>


                              </td>
                            </tr>
                          <% end %>
                        </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </main>
  
</div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/assets/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/chart-area-demo.js"></script>
<script src="/assets/demo/chart-bar-demo.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src="/assets/demo/datatables-demo.js"></script>
</body>
</html>
